extends layout.pug

block content
    div.body_container
        h3.whiteFontColor Movie Ranking of the Month 
            br
            ul.media_list
                each movie in movies
                    li(data-movie=JSON.stringify(movie))
                        h4= movie.ranking + ". "
                        img.media_cover(src=movie.image, alt=movie.title, onclick="showMovieDetails(event)")

        h3.whiteFontColor Series Ranking of the Month
            br
            ul.media_list
                each serie in series
                    li(data-movie=JSON.stringify(serie))
                        h4= serie.ranking + ". "
                        img.media_cover(
                            src=serie.image, 
                            alt=serie.title, 
                            data-serie=JSON.stringify(serie),
                            onclick="showSerieDetails(event)"
                        )

    div.popup(id="mediaPopup")
        div.popup-body
            div(id="movieModal", style="display: none;")
            div.modal-content
                span.close-btn &times;
                .popup-content
                    img.media_image(id="media-image", src="")
                    .media-information
                        .media-general
                            .media-header
                                h2(id="media-title")
                                button.bookmarkButton(data-movie=JSON.stringify(movie), onclick="addWatchlist(event)")
                                    img(src="/img/bookmark.png", alt="Bookmark")
                            p(id="media-description")
                            .media-specific-info
                                p(id="media-genre")
                                p(id="media-ranking")


    script(src="/js/movie.js")
    script(src="/js/serie.js")
    script(src="/js/watchlist.js")
    script(src="/js/header.js")
