extends layout.pug

block content
    div.body_container.marginLeft
        h2.blueFontColor.marginTop Movie Ranking of the Month 
            ul.media_list
                each movie in movies
                    li(data-movie=JSON.stringify(movie))
                        h4= movie.ranking + ". "
                        img.media_cover(src=movie.image, alt=movie.title, onclick="showMovieDetails(event)")
                    
        h2.blueFontColor.marginTop Series Ranking of the Month
            ul.media_list
                each serie in series
                    li(data-serie=JSON.stringify(serie))
                        h4= serie.ranking + ". "
                        img.media_cover(src=serie.image, alt=serie.title, onclick="showSerieDetails(event)")

    include modal.pug


    script(src="/js/movie.js")
    script(src="/js/serie.js")
    script(src="/js/header.js")
