extends layout.pug

//- block searchField
//-     form.searchField_placement(action="/search", method="get")
//-         input(type="text", name="query", placeholder="Search movies or series")
//-         button(type="submit") Search


block content
    div.body_container
        h3.whiteFontColor Movie Ranking of the Month 
            br
            ul.media_list
                each movie in movies
                    li
                        h4= movie.ranking + ". "
                        img.media_cover(
                            src=movie.image, 
                            alt=movie.title, 
                            data-movie=JSON.stringify(movie),
                            onclick="showMovieDetails(event)"
                        )

        h3.whiteFontColor Series Ranking of the Month
            br
            ul.media_list
                each serie in series
                    li
                        h4= serie.ranking + ". "
                        img.media_cover(
                            src=serie.image, 
                            alt=serie.title, 
                            data-serie=JSON.stringify(serie),
                            onclick="showSerieDetails(event)"
                        )

    div(id="movieModal", style="display: none;")
        div.modal-content
            span.close-btn &times;
            .modal-body
                img.media_modal(id="media-image", src="")
                .media-details
                    h2(id="media-title")
                    p(id="media-description")
                    p(id="media-genre")
                    p(id="media-ranking")

    script(src="/js/movie.js")
    script(src="/js/serie.js")
