extends layout.pug

block content
    div.body_container
        h3 Movie Ranking of the Month 
            br
            ul.media_list
                each movie in movies
                    li
                        h4= movie.ranking + ". "
                        img.media_cover(src=movie.image, alt=movie.title)
        h3 Series Ranking of the Month
            br
            ul.media_list
                each serie in series
                    li
                        h4= serie.ranking + ". "
                        img.media_cover(src=serie.image, alt=serie.title)