doctype html
html(lang="de")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Profil
    link(rel="stylesheet", href="/css/styles.css")
  body
    header 
      h3 Profil von #{firstName}
      .nav_right
        a.back-btn(href="/") Zurück zur Startseite

    main
      .profile-container
        section.profile-info
          .profile-item
            strong Vorname:
            p #{firstName}
          
          .profile-item
            strong Nachname:
            p #{lastName}
          
          .profile-item
            strong Benutzername:
            p #{username}
          
          .profile-item
            strong Email:
            p #{email}
          
          .profile-item
            strong Geschlecht:
            p #{gender}

        .form-actions
          a.btn(href="/logout") Logout
          form(action="/delete-account", method="POST")
            button(type="submit", class="delete-btn", onclick="return confirm('Bist du sicher, dass du deinen Account löschen möchtest?')") Account löschen