doctype html
html(lang='de')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Profile
    link(rel='stylesheet', href='/css/styles.css')
  body
    header
      h2 Profile from #{firstName}
      .navRight
        a.returnHomeButton(href='/') Return to home

    main
      .profileContainer
        section.profileInfo
          .profileItem
            strong First Name:
            p #{firstName}

          .profileItem
            strong Last Name:
            p #{lastName}

          .profileItem
            strong Username:
            p #{username}

          .profileItem
            strong Email:
            p #{email}

          .profileItem
            strong Gender:
            p #{gender}

        .formActions
          a.btn(href='/logout') Logout
          form(action='/delete-account', method='POST')
            button.deleteButton(
              type='submit',
              onclick='return confirm(\'Bist du sicher, dass du deinen Account löschen möchtest?\')'
            ) Account löschen