doctype html
html(lang='de')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Register
    link(rel='stylesheet', href='/css/styles.css')
  body
    header
      h2 Register!

    main
      .form-container
        h2 Create a new account
        if errorMessage
          p.error-message(style='color: red') #{errorMessage}
        form(action='/register', method='POST')
          .input-container
            label(for='firstName') Firstname:
            input#firstName.input-field(
              type='text',
              name='firstName',
              required
            )

          .input-container
            label(for='lastName') Lastname:
            input#lastName.input-field(type='text', name='lastName', required)

          .input-container
            label(for='gender') Gender:
            select#gender.input-field(name='gender', required)
              option(value='male') Male
              option(value='female') Female
              option(value='other') other

          .input-container
            label(for='email') E-Mail:
            input#email.input-field(type='email', name='email', required)

          .input-container
            label(for='username') Username:
            input#username.input-field(type='text', name='username', required)

          .input-container
            label(for='password') Password:
            input#password.input-field(
              type='password',
              name='password',
              required
            )

          .form-actions
            button.btn(type='submit') Register

        p.marginBottom Already have an account?
          a.register-link(href='/login') Login here.

        a.back-btn(href='/') Return to home page.
