doctype html
html(lang='de')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Register
    link(rel='stylesheet', href='/css/styles.css')
  body
    header
      h2 Register!
 
    main
      .formContainer
        h2 Create a new account
        if errorMessage
          p.errorMessage(style='color: red') #{errorMessage}
        form(action='/register', method='POST')
          .inputContainer
            label(for='firstName') Firstname:
            input#firstName.inputField(
              type='text',
              name='firstName',
              required
            )
 
          .inputContainer
            label(for='lastName') Lastname:
            input#lastName.inputField(type='text', name='lastName', required)
 
          .inputContainer
            label(for='gender') Gender:
            select#gender.inputField(name='gender', required)
              option(value='male') Male
              option(value='female') Female
              option(value='other') other
 
          .inputContainer
            label(for='email') E-Mail:
            input#email.inputField(type='email', name='email', required)
 
          .inputContainer
            label(for='username') Username:
            input#username.inputField(type='text', name='username', required)
 
          .inputContainer
            label(for='password') Password:
            input#password.inputField(
              type='password',
              name='password',
              required
            )
 
          .formActions
            button.authentificationButton(type='submit') Register
 
        p.marginBottom Already have an account?
          a.registerLink(href='/login') Login here.
 
        a.returnHomeButton.marginLeftSmall(href='/') Return to home page.